<div class="spacer"></div>
<div class="container">
    <div class="main-body">
      <h1>User Profile</h1>
          <!-- /Breadcrumb -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 class="text-white bg-dark">Don Chingon</h4>
                      <p class="text-dark mb-1">COCHINOTE</p>
                      <p class="text-dark">En busca de accion</p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="text-white bg-dark mb-0">User Name</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      <%= current_user.username %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="text-white bg-dark mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      <%= current_user.email %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="text-white bg-dark mb-0">User Id</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      <%= current_user.id %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="text-white bg-dark mb-0">Is the user cool?</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      <%= current_user.admin %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="text-white bg-dark mb-0">Reviews</h6>
                    </div>
                    <div class="col-sm-9 text-dark">
                      <%= @times_ids_reapeted %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                       <button class="btn btn-dark"><%= link_to 'Edit', edit_user_registration_path, style: "color: white;" %></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="d-flex justify-content-end">
        <p><%= link_to '< Go Back', workers_path, style:"color:white;" %></p>
      </div>
    </div>
  </div>
</div>