<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Your Profile</h1>
      <br>
      <table>
        <tr>
          <td>Username</td>
          <td><%= current_user.username %></td>
        </tr>
        <tr>
          <td>E-Mail</td>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <td>Are you cool?</td>
          <td><%= current_user.admin %></td>
        </tr>
        <tr>
          <td>ID no</td>
          <td><%= current_user.id %></td>
        </tr>
        <tr>
          <td>Reviews</td>
          <td><%= @times_ids_reapeted %> </td>              
        </tr>
    </table>
    </div>
  </div>
</div>
