<p id="notice"><%= notice %></p>

<section class="dark">
	<div class="container py-4">
	   <%# <h1 class="h1 text-left" id="pageHeaderTitle">REVIEWS</h1> %>
     <br><br><br>
    <div class="d-flex justify-content-end mb-3"><button class="btn btn-dark"><% if policy(Worker).new? %><%= link_to 'Add Review', new_worker_path, style: "color: white;" %><% end %></button></div>
    <% @workers.each do |worker| %>
      <article class="postcard dark red">
        <%=link_to image_tag("woman_pic.png", size: "300x300"), worker, class: "postcard__img" %>
        <div class="postcard__text">
          <h1 class="postcard__title red"><%= link_to "#{worker.name}", worker %></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-map-marker-alt mr-2"></i><%= worker.address %>
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt"><%= worker.description %></div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>£<%= worker.price %></li>
            <li class="tag__item play red"><i class="fas fa-star mr-2"></i><%= worker.rating %></li>
            <% if policy(worker).edit? %>
              <li class="tag__item"><i class="fas fa-edit mr-2"></i><%= link_to 'Edit', edit_worker_path(worker) %></li>
            <% end %>
            <% if policy(worker).destroy? %>
              <li class="tag__item"><i class="fas fa-trash-alt mr-2"></i><%= link_to 'DELETE', worker, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
          </ul>
        </div>
      </article>
    <% end %>
    