<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @worker.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @worker.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @worker.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @worker.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @worker.user_id %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
